<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="Dismiss()">Close</ion-button>
		</ion-buttons>
		<ion-title>{{Data.Name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="page">
		<h1>{{Data.Name}}</h1>
		<h2>{{Data.Category}}</h2>
		<h3>{{Data.Cost}} Experience Point{{Data.Cost > 1 ? 's' : ''}}</h3>

		<section>
			<h1>Description</h1>
			<div [innerHTML]="this._Sanitizer.bypassSecurityTrustHtml(Data.Description)"></div>
		</section>
	</div>
</ion-content>