<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="Dismiss()">Close</ion-button>
		</ion-buttons>
		<ion-title>{{Data.Title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="page">
		<h1>{{Data.Title}}</h1>
		<h2>{{Data.Subtitle}}</h2>
		<h3>By {{Data.Author}}</h3>

		<section *ngIf="Data.Body">
			<p [innerHTML]="Data.Body"></p>
		</section>

		<section *ngFor="let _Section of Data.Sections; index as i">
			<h1>{{_Section.Heading}}
				<span class="right">
					<ion-icon *ngIf="!HideSections[i]" (click)="HideSections[i] = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideSections[i]" (click)="HideSections[i] = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<p [innerHTML]="_Section.Body" [class]="HideSections[i] ? 'hidden' : ''"></p>
		</section>
	</div>
</ion-content>