<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="Dismiss()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="page">
		<h1>{{Data.Name}}</h1>
		<h2>{{Data.Category}}</h2>
		<h3>{{Data.Form}}</h3>

		<section *ngIf="Data.Definition">
			<h1>Definition
				<span class="right">
					<ion-icon *ngIf="!HideDefinition" (click)="HideDefinition = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideDefinition" (click)="HideDefinition = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<p [innerHTML]="Data.Definition" [class]="HideDefinition ? 'hidden' : ''"></p>
		</section>

		<section *ngIf="Data.Description">
			<h1>Description
				<span class="right">
					<ion-icon *ngIf="!HideDescription" (click)="HideDescription = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideDescription" (click)="HideDescription = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<p [innerHTML]="Data.Description" [class]="HideDescription ? 'hidden' : ''"></p>
		</section>

		<section *ngIf="Data.RoleplayingEffect">
			<h1>Roleplaying Effect
				<span class="right">
					<ion-icon *ngIf="!HideRoleplayingEffect" (click)="HideRoleplayingEffect = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideRoleplayingEffect" (click)="HideRoleplayingEffect = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<p [innerHTML]="Data.RoleplayingEffect" [class]="HideRoleplayingEffect ? 'hidden' : ''"></p>
		</section>

		<section *ngIf="Data.MechanicalEffect">
			<h1>Mechanical Effect
				<span class="right">
					<ion-icon *ngIf="!HideMechanicalEffect" (click)="HideMechanicalEffect = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideMechanicalEffect" (click)="HideMechanicalEffect = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<p [innerHTML]="Data.MechanicalEffect" [class]="HideMechanicalEffect ? 'hidden' : ''"></p>
		</section>

		<section *ngIf="Data.Recipe">
			<h1>Recipe
				<span class="right">
					<ion-icon *ngIf="!HideRecipe" (click)="HideRecipe = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideRecipe" (click)="HideRecipe = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<p [innerHTML]="Data.Recipe" [class]="HideRecipe ? 'hidden' : ''"></p>
		</section>

		<section *ngIf="Data.Notes">
			<h1>Notes
				<span class="right">
					<ion-icon *ngIf="!HideNotes" (click)="HideNotes = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideNotes" (click)="HideNotes = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<p [innerHTML]="Data.Notes" [class]="HideNotes ? 'hidden' : ''"></p>
		</section>
	</div>
</ion-content>