<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="Dismiss()">Close</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{Data.Name}}</ion-card-title>
			<ion-card-subtitle>{{Data.Category}}</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<h2>Definition</h2>
			<div class="Box" [innerHTML]="Data.Definition"></div>
			<h2>Form</h2>
			<div class="Box">
				{{Data.Form}}
			</div>
			<h2>Description</h2>
			<div class="Box">
				<div [innerHTML]="Data.Description"></div>
			</div>
			<h2>Roleplaying Effect</h2>
			<div class="Box">
				<div [innerHTML]="Data.RoleplayingEffect"></div>
			</div>
			<h2>Mechanical Effect</h2>
			<div class="Box">
				<div [innerHTML]="Data.MechanicalEffect"></div>
			</div>
			<h2>Recipe</h2>
			<div class="Box">
				<div [innerHTML]="Data.Recipe"></div>
			</div>
		</ion-card-content>
	</ion-card>


	<ion-card *ngIf="Data.Notes">
		<ion-card-header>
			<ion-card-title>Notes</ion-card-title>
		</ion-card-header>
		<ion-card-content [innerHTML]="Data.Notes">
		</ion-card-content>
	</ion-card>
</ion-content>