<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="Dismiss()">Close</ion-button>
		</ion-buttons>
		<ion-title>{{Data.FirstName}} {{Data.LastName}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="page">
		<h1>{{Data.FirstName}} {{Data.LastName}}</h1>
		<h2 [class]="Data.EarnedName ? 'gold' : ''">{{Data.EarnedName ? Data.EarnedName : Data.Identity}}</h2>

		<section *ngIf="Data.Summary">
			<h1>Summary
				<span class="right">
					<ion-icon *ngIf="!HideSummary" (click)="HideSummary = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideSummary" (click)="HideSummary = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<div [innerHTML]="this._Sanitizer.bypassSecurityTrustHtml(Data.Summary)" [class]="HideSummary ? 'hidden' : ''"></div>
		</section>

		<section *ngIf="Data.DeathStory">
			<h1>Death
				<span class="right">
					<ion-icon *ngIf="!HideDeath" (click)="HideDeath = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideDeath" (click)="HideDeath = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<div [innerHTML]="this._Sanitizer.bypassSecurityTrustHtml(Data.Death)" [class]="HideDeath ? 'hidden' : ''"></div>
		</section>

		<section *ngIf="Data.Details.Background">
			<h1>Background
				<span class="right">
					<ion-icon *ngIf="!HideBackground" (click)="HideBackground = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideBackground" (click)="HideBackground = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<div [innerHTML]="this._Sanitizer.bypassSecurityTrustHtml(Data.Details.Background)" [class]="HideBackground ? 'hidden' : ''"></div>
		</section>

		<section *ngIf="Data.EarnedName">
			<h1 class="gold">{{Data.EarnedName}}
				<span class="right">
					<ion-icon *ngIf="!HideEarnedName" (click)="HideEarnedName = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideEarnedName" (click)="HideEarnedName = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<div [innerHTML]="this._Sanitizer.bypassSecurityTrustHtml(Data.Details.NameStory)" [class]="HideEarnedName ? 'hidden' : ''"></div>
		</section>

		<section *ngFor="let _Section of Data.Sections; index as i">
			<h1>{{_Section.Heading}}
				<span class="right">
					<ion-icon *ngIf="!HideSections[i]" (click)="HideSections[i] = true" name="chevron-up"></ion-icon>
					<ion-icon *ngIf="HideSections[i]" (click)="HideSections[i] = false" name="chevron-down"></ion-icon>
				</span>
			</h1>
			<div [innerHTML]="this._Sanitizer.bypassSecurityTrustHtml(_Section.Body)" [class]="HideSections[i] ? 'hidden' : ''"></div>
		</section>
	</div>
</ion-content>