<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="Dismiss()">Close</ion-button>
		</ion-buttons>
		<ion-title>{{Data.FirstName}} {{Data.LastName}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Background</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<p [innerHTML]="Data.Details.Background"></p>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="Data.EarnedName">
		<ion-card-header>
			<ion-card-title>{{Data.EarnedName}}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<p [innerHTML]="Data.Details.NameStory"></p>
		</ion-card-content>
	</ion-card>
</ion-content>