<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Home
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card [routerLink]="'/characters'" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>Representatives</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card [routerLink]="'/characters'" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>Associates</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card [routerLink]="'/history'" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>History</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card [routerLink]="" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>Culture</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card [routerLink]="" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>The Mountain</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card [routerLink]="" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>Fallen Heroes</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card [routerLink]="" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>Player Information</ion-card-title>
		</ion-card-header>
	</ion-card>
</ion-content>