<ion-header>
	<ion-toolbar>
		<ion-title>
			Home
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-card (click)="OpenCharactersPage('Members')">
		<ion-card-header>
			<ion-card-title>Members</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card (click)="OpenCharactersPage('Associates')">
		<ion-card-header>
			<ion-card-title>Associates</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card [routerLink]="'/history'" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>History</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card [routerLink]="" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>Culture</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card [routerLink]="" routerDirection="forward">
		<ion-card-header>
			<ion-card-title>The Mountain</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card (click)="OpenCharactersPage('Fallen Heroes')">
		<ion-card-header>
			<ion-card-title>Fallen Heroes</ion-card-title>
		</ion-card-header>
	</ion-card>
</ion-content>