.container {
	width: 100vw;
	height: 100vh;
	padding: 10px;

	.image {
		width: 50%;
		max-width: 170px;
		margin: 30px auto 0;

		img {
			width: 100%;
		}
	}

	ion-grid {
		ion-row {
			border-bottom: 1px solid var(--ion-color-primary-tint);
			padding-bottom: 10px;
			margin-bottom: 10px;
		}

		ion-row:last-child {
			border-bottom: none;
		}

		ion-col {
			--ion-grid-column-padding: 5px;
			text-align: center;

			div {
				border: 1px solid var(--ion-color-primary);
				padding: 10px;
				background-color: var(--ion-color-secondary);
				font-size: 1.5rem;
				word-wrap: normal;
				font-weight: bold;
			}
		}
	}
}
