<ion-content>
	<div class="page">
		<div class="image">
			<img src="../../../assets/icon/Spire-Round.svg">
		</div>


		<form [formGroup]="LoginForm">
			<ion-list lines="none">
				<ion-item>
					<ion-input type="email" placeholder="Email Address" formControlName="Username"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="password" placeholder="Password" formControlName="Password"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Remember Me</ion-label>
					<ion-checkbox formControlName="Remember"></ion-checkbox>
				</ion-item>
			</ion-list>
			<ion-button expand="block">Forgot Password</ion-button>
			<ion-row>
				<ion-col size="6">
					<ion-button expand="block" color="danger" (click)="Dismiss()">Close</ion-button>
				</ion-col>
				<ion-col size="6">
					<ion-button expand="block" color="success" (click)="Submit()">Login</ion-button>
				</ion-col>
			</ion-row>
		</form>
	</div>
</ion-content>